services:
  postgresdb:
    image: postgres:latest
    container_name: postgresdb
    restart: on-failure
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    networks:
      - dynamic-search

  migration-runner:
    image: erikbra/grate:latest
    container_name: migration-runner
    restart: on-failure
    volumes:
      - ./sql:/db
    environment:
      - DATABASE_TYPE=PostgreSQL
      - CREATE_DATABASE=true
      - TRANSACTION=true
      - APP_CONNSTRING=Host=postgres;Port=5432;User Id=postgres;Password=Pass123!;Database=core
    depends_on:
      - postgres      
    networks:
      - dynamic-search

networks:
  dynamic-search:
    name: dynamic-search
    driver: bridge
    external: false